*~
*.pyc
__pycache__

*.tmp
*.kate-swp

gcode_machine

*.log
*.dat
*.gcode
*.gc
*.nc
*.ngc
*.txt
*.pyc

*.png
*.jpg
*.svg

*.sol
*.wgt
*.crd

data
log
*.user
cnctoolbox.log
compiler.log

html
latex
*.db


